<nav style="margin-top:10px;--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" style="text-decoration: none">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/categories" routerLinkActive="active" style="text-decoration: none">categorias</a></li>
    <li class="breadcrumb-item active" aria-current="page">detalhes</li>
  </ol>
</nav>

<div class="row g-3">
  <div class="col-12">
    <label for="name" class="form-label">Categoria</label>
    <input id="name" name="name" disabled [(ngModel)]="category.name" type="text" class="form-control" #name="ngModel">
  </div>
  <div class="col-12 d-grid gap-2 d-md-flex justify-content-md-end mt-4">
    <a class="btn btn-danger" (click)="delete(category)" role="button"><i class="fa fa-trash"></i>&nbsp;Deletar</a>
  </div>
  <div class="col-12">
    <h4>Dispositivos vículado(s)</h4>
    <hr>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Número de série</th>
          <th scope="col">Categoria</th>
          <th scope="col">Cor</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let device of category.devices">
          <td>{{ device.partNumber }}</td>
          <td>{{ category.name }}</td>
          <td>{{ device.color }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
